# downloads dir
downloads/

**/__pycache__
Prescient.egg-info/
build/
dist/

examples/simple_nostorage_deterministic_output/
examples/simple_nostorage_scengen/
**/.ipynb_checkpoints

*.vscode
**/.vs

.mypy_cache

prescient/simulator/tests/regression_tests_data/custom_data_provider_output/
prescient/simulator/tests/regression_tests_data/deterministic_shortcut_output/
prescient/simulator/tests/regression_tests_data/deterministic_simulation_csv_output/
prescient/simulator/tests/regression_tests_data/deterministic_simulation_output/
prescient/simulator/tests/regression_tests_data/deterministic_with_network_simulation_output_python/
prescient/simulator/tests/regression_tests_data/deterministic_with_network_simulation_output_python_csv/

