# downloads dir
downloads/

**/__pycache__
Prescient.egg-info/
build/
dist/

examples/simple_nostorage_deterministic_output/
examples/simple_nostorage_scengen/
**/.ipynb_checkpoints

*.vscode
**/.vs

.mypy_cache

tests/simulator_tests/test_cases/deterministic_with_network_simulation_output/
tests/simulator_tests/test_cases/deterministic_simulation_output/
tests/simulator_tests/test_cases/deterministic_simulation_csv_output/
