name: GitHub CI

on:
    # Trigger the workflow on push or pull request,
    # but only for the main branch
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
    # nightly tests at 8:00 UTC
    schedule:
        - cron:  '0 8 * * *'
    workflow_dispatch:
         types: run-test

defaults:
    run:
        shell: bash -l {0}

jobs:
    build:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest]
                python-version: [3.7, 3.8, 3.9]
                include:
                    - os: macos-latest
                      python-version: 3.7
                    - os: windows-latest
                      python-version: 3.7
        steps:
          - uses: actions/checkout@v2
          - uses: conda-incubator/setup-miniconda@v2
            with:
              activate-environment: test_env
              environment-file: environment.yml
              python-version:  ${{ matrix.python-version }}
              auto-activate-base: false
          - name: Conda Env
            run: |
              conda info
              conda list
          - name: Install CBC
            run: |
              if [ ${{ matrix.os }} = windows-latest ]
              then
                # download CBC binary, copy to place already in PATH
                curl -O https://ampl.com/dl/open/cbc/cbc-win64.zip
                unzip cbc-win64.zip
                cp cbc.exe $CONDA_PREFIX
              else
                conda install coincbc==2.10.5
              fi
              # test cbc executable
              cbc -quit
          - name: Install EGRET
            # don't install if this is a tag
            # use the version specified in setup.py
            if: ${{!startsWith(github.ref, 'refs/tags')}}
            run: |
              pip install git+https://github.com/grid-parity-exchange/Egret.git

          - name: Install Prescient
            run: |
              python setup.py develop

          - name: Run Prescient Simulator Tests
            run: |
              pytest -v prescient/simulator/tests/test_simulator.py
