name: GitHub CI

on:
    # Trigger the workflow on push or pull request,
    # but only for the master branch
    push:
        branches:
            - master
    pull_request:
        branches:
            - master
    # nightly tests at 8:00 UTC
    schedule:
        - cron:  '0 8 * * *'

defaults:
    run:
        shell: bash -l {0}

jobs:
    build:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest]
                python-version: [3.7, 3.8, 3.9]
                include:
                    - os: macos-latest
                      python-version: 3.7
        steps:
          - uses: actions/checkout@v2
          - uses: conda-incubator/setup-miniconda@v2
            with:
              activate-environment: test_env
              environment-file: environment.yml
              python-version:  ${{ matrix.python-version }}
              auto-activate-base: false
          - name: Conda Env
            run: |
              conda info
              conda list
          - name: Install CBC  
            run: |
              conda install coincbc

          - name: Install EGRET
            run: |
              pip install git+https://github.com/grid-parity-exchange/Egret.git

          - name: Install Prescient
            run: |
              python setup.py develop

          - name: Run Prescient Simulator Tests
            run: |
              python tests/simulator_tests/test_sim_rts_mod.py
